.center {
  display: flex;
  justify-content: center;
  padding-top: 1em;
}

.search-btn {
  padding: 10px 14px;
  border: none;
  background: peru;
  color: white;
  cursor: pointer;
  border-radius: 3px;
  margin-bottom: 1em;
}

.search-btn:hover {
  background: black;
}